In [2]:
#01) Explain with an example each when to use a for loop and a while loop

#we use for loop when we want to create a loop for the exact number of elements in the given list
#example of for loop 
names=['SUSHANT','PROBHAT','SATYAM','ADARSH','ANIKET']
for i in names :
    print(i)

SUSHANT
PROBHAT
SATYAM
ADARSH
ANIKET

In [4]:
#01)
#we use while loop to create a loop until the required conditions are fulfilled
#example of while loop

num=0 #initiation of a variable 
while num < 10 : # this is the condition where i want the number to shown less then 10 times
    print('The Count is ',num)
    num=num+1

The Count is  0
The Count is  1
The Count is  2
The Count is  3
The Count is  4
The Count is  5
The Count is  6
The Count is  7
The Count is  8
The Count is  9

In [9]:
#02) write a python program to print the sum and product of the first 10 natural numbers using for and while loop
num = 0
product = 1

for i in range(1, 11):
    num =num+ i
    product = product*i

print("Sum of first 10 natural numbers:", sum)
print("Product of first 10 natural numbers:", product)

Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800

In [8]:
sum = 0
product = 1
num = 1

while num<= 10:
    sum = sum+num
    product = product*num
    num =num+ 1

print("Sum of first 10 natural numbers:", sum)
print("Product of first 10 natural numbers:", product)

Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800

In [11]:
#3) electric bill counter 

units = int(input("Enter the units of electricity consumed: "))
#here user will put their consumed unit.

if units <= 100:
    bill = units * 4.5#the first 100 units will be charged Rs.4.5/unit
elif units <= 200:
    bill = (100 * 4.5) + ((units - 100) * 6)#for first 100 it will be charged the same as above and then after rs. 6
elif units <= 300:
    bill = (100 * 4.5) + (100 * 6) + ((units - 200) * 10)#similarly after 200 units it will be charged rs.10
else:
    bill = (100 * 4.5) + (100 * 6) + (100 * 10) + ((units - 300) * 20)# then after it will charge rs.20

print("Total electricity bill : Rs.", bill)

Enter the units of electricity consumed: 450
Total electricity bill : Rs. 5050.0

In [14]:
#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of eachnumber and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.
#using for loop
num = []
for i in range(1, 101):#since we also need the 100 and we know that in range the upper limit is not included hence we use UL+1 
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        num.append(i)

print("Numbers whose cube is divisible by 4 or 5 is ", num)

Numbers whose cube is divisible by 4 or 5 is  [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [17]:
#4)#WHILE LOOP
num = []
i = 1
while i <= 100:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        num.append(i)
    i += 1

print("Numbers whose cube is divisible by 4 or 5 is", num)

Numbers whose cube is divisible by 4 or 5 is [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [20]:
#question no. 5

string = "I want to become a data scientist"
vowels = "A,E,I,O,U,a,e,i,o,u"
s = 0

for i in string:
    if i in vowels:
        s += 1

print("Number of vowels:", s)

#I first wrote the vowels in lower case and got the number count at 11 and then i manually counted it to 12 as the first letter index[0] is a upper case .
#then i also entered the upper case vowels .

Number of vowels: 12